@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.snap {
		scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
	}
	.snap-y {
		--scroll-snap-direction: y;
	}
	.snap-x {
		--scroll-snap-direction: x;
	}
	.snap-mandatory {
		--scroll-snap-constraint: mandatory;
	}
	.snap-start {
		scroll-snap-align: start;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.animation-scroll {
		animation: scrollAnimation 10s linear infinite;
	}

	.animation-scroll-DB {
		animation: scrollAnimationData 10s linear infinite;
	}
}

@keyframes scrollAnimation {
	0% {
		transform: translateY(-470%);
	}
	100% {
		transform: translateY(470%);
	}
}
@keyframes scrollAnimationData {
	0% {
		transform: translateY(-670%);
	}
	100% {
		transform: translateY(670%);
	}
}
